<nav class="navbar navbar-expand-lg mb-1" style="padding:10px;background-color: #4DAAB9;">
    <a class="navbar-brand" style="color: #FFFFFF;" routerLink="/main">
       <i class="fa fa-arrow-left" style="margin-right: 10px;margin-left: 10px;"></i> 
       Apply Over Kredit 
    </a>
    <span style="margin-left: 10px;color: #FFFFFF;font-size: 15px;">Upload Dokumen Konsumen Baru</span>
</nav>
<div class="container">
    <div class="row" style="text-align: justify;padding: 5px;">
        <div class="alert alert-primary " style="padding: 15px;margin-bottom: 5px;">
            KTP
            <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
             KTP Pasangan   
            <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
            Kartu Keluarga
            <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
            NPWP
            <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
            Surat Permohonan Over Kredit
            <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
            Surat Kuasa (Optional)
            <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
    </div>
</div>
<div class="footer">
    <a routerLink="/form_data_pribadi">
        <button class="btn btn-md btn-primary form-control">
            Lanjut <i class="fa fa-angle-right" style="margin-left: 5px;"></i>
        </button>
    </a>
</div>