<div class="container" style="margin-top:65px;margin-bottom: 65px;">
    <div class="row" style="text-align: center;padding: 5px;margin-top:30px ;font-size: medium;color:#8E8E8E ;">
        <h4>DATA BERHASIL DISIMPAN</h4><br>
        <h6>Nomor Pengajuan Anda <br> OVK2022-{{id}}</h6>
    </div>
    <div class="row" style="text-align: center;padding: 5px;margin-top:20% ;">
        <i class="fa fa-check-circle align-middle" style="color: aquamarine;font-size:150px;"></i>
    </div>
    <div class="row" style="text-align: center;padding: 20px;margin-top:20% ;font-size: medium;color:#CACDD1 ;">
        Data pengajuan anda sudah tersimpan <br> 
        Mohon catat No. Pengajuan Anda <br>
        Terima Kasih

    </div>
</div>

<div class="footer">
    <a [routerLink]="['/list_kontrak', email]">
        <button class="btn btn-md btn-primary form-control">Kembali Ke List Kontrak</button>
    </a>
</div>