<form [formGroup]="dataPribadi" (ngSubmit)="addCustomer()" autocomplete="on">
<div class="container ps-3 pe-3" style="margin-top:65px;margin-bottom: 65px;">
    <div class="row" style="text-align: justify;padding: 5px;">
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="name"  placeholder="Nama Lengkap">
           <span  *ngIf="name && name.touched && name.invalid" style="margin-top:5px;color:red;font-size: 12px;">Nama Invalid</span>
        </div>
        <div class="form-group">
           <input type="number" class="form-control" style="text-transform:uppercase" formControlName="nik" placeholder="NIK">
           <span  *ngIf="nik && nik.touched && nik.invalid" style="margin-top:5px;color:red;font-size: 12px;">NIK Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" formControlName="alamat" class="form-control" style="text-transform:uppercase" placeholder="Alamat">
           <span  *ngIf="alamat && alamat.touched && alamat.invalid" style="margin-top:5px;color:red;font-size: 12px;">Alamat Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="provinsi" placeholder="Provinsi">
           <span  *ngIf="provinsi && provinsi.touched && provinsi.invalid" style="margin-top:5px;color:red;font-size: 12px;">Provinsi Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="kota" placeholder="Kota">
           <span  *ngIf="kota && kota.touched && kota.invalid" style="margin-top:5px;color:red;font-size: 12px;">Kota/Kabupaten Invalid</span>
        </div>
        <div class="form-group">
           <input type="number" class="form-control" style="text-transform:uppercase" formControlName="kode_pos" placeholder="Kode Pos">
           <span  *ngIf="kode_pos && kode_pos.touched && kode_pos.invalid" style="margin-top:5px;color:red;font-size: 12px;">Kode Pos Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="noTelp1" placeholder="No Telepon 1">
           <span  *ngIf="noTelp1 && noTelp1.touched && noTelp1.invalid" style="margin-top:5px;color:red;font-size: 12px;">No Telpon Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="noTelp2" placeholder="No Telepon 2 (Optional)">
           <span  *ngIf="noTelp2 && noTelp2.touched && noTelp2.invalid" style="margin-top:5px;color:red;font-size: 12px;">No Telpon 2 Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="email" placeholder="Email">
           <span  *ngIf="email && email.touched && email.invalid" style="margin-top:5px;color:red;font-size: 12px;">Email Invalid</span>
        </div>
        <div class="form-group">
           <input type="number" class="form-control" style="text-transform:uppercase" formControlName="norek" placeholder="No Rekening BCA">
           <span  *ngIf="norek && norek.touched && norek.invalid" style="margin-top:5px;color:red;font-size: 12px;">No Rekening Invalid</span>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" style="text-transform:uppercase" formControlName="keterangan" placeholder="Keterangan">
           <span  *ngIf="keterangan && keterangan.touched && keterangan.invalid" style="margin-top:5px;color:red;font-size: 12px;">Keterangan Invalid</span>
        </div>
    </div>
</div>
<div class="footer">
    <a [routerLink]="['/perhitungan', noKontrak, mail]">
        <button class="btn btn-md btn-primary" style="float: left;margin-left: 5px;width:45%;">
            <i class="fa fa-angle-left" style="margin-right: 2%;"></i> Kembali
        </button>
    </a>
   <button [disabled]="!dataPribadi.valid"  class="btn btn-md btn-primary" type="submit" style="float: right;margin-left: 5px;width:45%;">
      Lanjut <i class="fa fa-angle-right" style="margin-left: 2%;"></i>
   </button>
</div>
</form>
<nav class="navbar navbar-expand-lg mb-1" style="left: 0;height:60px;padding:10px;width:100%;background-color: #4DAAB9;position: fixed;top:0;">
   <a class="navbar-brand" style="color: #FFFFFF;" routerLink="/upload_dokumen">
      Data Pribadi
   </a>
   <span style="margin-left: 10px;color: #FFFFFF;font-size: 15px;">Data Konsumen Baru</span>
</nav>