<nav class="navbar navbar-expand-lg mb-1" style="padding:10px;background-color: #4DAAB9;">
    <a class="navbar-brand" style="color: #FFFFFF;" routerLink="/upload_dokumen">
       Data Pribadi
    </a>
    <span style="margin-left: 10px;color: #FFFFFF;font-size: 15px;">Data Konsumen Baru</span>
</nav>
<div class="container">
    <div class="row" style="text-align: justify;padding: 5px;">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Nama Lengkap">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Alamat">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Provinsi">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Kota">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Kode Pos">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="No Telepon 1">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="No Telepon 2 (Optional)">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="No Rekening BCA">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Keterangan">
        </div>
    </div>
</div>
<div class="footer">
    <a [routerLink]="['/perhitungan', noKontrak]">
        <button class="btn btn-md btn-primary" style="float: left;margin-left: 5px;width:45%;">
            <i class="fa fa-angle-left" style="margin-right: 2%;"></i> Kembali
        </button>
    </a>
    <a routerLink="/data_jaminan">
        <button class="btn btn-md btn-primary" style="float: right;margin-left: 5px;width:45%;">
            Lanjut <i class="fa fa-angle-right" style="margin-left: 2%;"></i>
        </button>
    </a>
</div>