<nav class="navbar navbar-expand-lg mb-1" style="padding:10px;background-color: #4DAAB9;">
    <a class="navbar-brand" style="color: #FFFFFF;" routerLink="/form_data_pribadi">
       <i class="fa fa-arrow-left" style="margin-right: 10px;margin-left: 10px;"></i> 
       Data Jaminan
    </a>
</nav>
<div class="container">
    <div class="row" style="text-align: justify;padding: 5px;">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" value="Honda Brio" disabled>
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="RS" disabled>
                </div>
            </div>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" value="2017" disabled>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" value="B 2242 UAI" disabled>
        </div>
    </div>
</div>
 
<div class="footer">
    <a routerLink="/form_data_pribadi">
        <button class="btn btn-md btn-primary" style="float: left;margin-left: 5px;width:45%;">
            <i class="fa fa-angle-left" style="margin-right: 2%;"></i> Kembali
        </button>
    </a>
        <button type="button" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right;margin-left: 5px;width:45%;">
            Simpan 
        </button>
</div>
