<div class="container" style="margin-top:65px;margin-bottom: 65px;">
    <div class="row mb-3" style="text-align: justify;padding: 5px;">
       Program Over Kredit dan perubahan kondisi pembiayaan hanya dapat dilakukan 
       dengan persetujuan dari PT BCA Finance. Adapun syarat agar anda dapat 
       mengikuti Program Over Kredit tersebut dapat diunduh di bawah ini :
    </div>
    <div class="row" style="text-align: justify;">
    <a style="padding: 5px;text-decoration: none;" href="https://fina-overkredit-api.herokuapp.com/fina_overkredit/api/newcustomer/files/SURAT PERMOHONAN OVER KREDIT.docx">
        <div class="alert alert-primary">
            Surat Permohonan Over Kredit
            <i class="fa fa-download" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
    </a>
    <a style="padding: 5px;text-decoration: none;" href="https://fina-overkredit-api.herokuapp.com/fina_overkredit/api/newcustomer/files/SURAT PERMOHONAN OVER KREDIT AHLI WARIS.docx">
        <div class="alert alert-primary">
            Surat Permohonan (Ahli Waris)
            <i class="fa fa-download" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
    </a>    
    <a style="padding: 5px;text-decoration: none;" href="https://fina-overkredit-api.herokuapp.com/fina_overkredit/api/newcustomer/files/SURAT PERNYATAAN DAN KUASA.docx">
        <div class="alert alert-primary">
            Surat Kuasa Over kredit
            <i class="fa fa-download" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
    </a>    

    </div>
    <div class="row" style="text-align: justify;padding: 5px;">
        Hanya konsumen yang tidak sedang dalam penanganan pihak Eksetrenal
        yang dapat mengajukan Program Over Kredit melalui Aplikasi Fina
    </div>
</div>
<nav class="navbar navbar-expand-lg mb-1" style="left: 0;height:60px;padding:10px;width:100%;background-color: #4DAAB9;position: fixed;top:0;">
    <a class="navbar-brand" style="color: #FFFFFF;">
      Over Kredit
    </a>
 </nav>
<div class="footer">
    <a [routerLink]="['/list_kontrak', email]">
        <button class="btn btn-md btn-primary form-control">Ajukan Over Kredit</button>
    </a>
</div>