<nav class="navbar navbar-expand-lg mb-1" style="padding:10px;background-color: #4DAAB9;">
    <a class="navbar-brand" style="color: #FFFFFF;">
       Over Kredit 
    </a>
</nav>
<div class="container">
    <div class="row mb-3" style="text-align: justify;padding: 5px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis elit a neque elementum convallis.
        Mauris lorem magna, accumsan eget finibus eu, hendrerit non lacus. Maecenas consequat faucibus libero et finibus. 
    </div>
    <div class="row" style="text-align: justify;padding: 5px;">
        <div class="alert alert-primary " style="padding: 15px;margin-bottom: 5px;">
            Surat Permohonan Over Kredit
            <i class="fa fa-download" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
            Surat Permohonan (Ahli Waris)
            <i class="fa fa-download" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
        <div class="alert alert-primary" style="padding: 15px;margin-bottom: 5px;">
            Surat Kuasa Over kredit
            <i class="fa fa-download" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
        </div>
    </div>
</div>
<div class="footer">
    <a routerLink="/list_kontrak">
        <button class="btn btn-md btn-primary form-control">Ajukan Over Kredit</button>
    </a>
</div>